.container{
    margin-top: 50px;
}
.myForm, .subAddress, .propertyResponse{
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
    font-size: 20px;
}

.myForm{
    text-align: left;
}
.myForm button{
    color: white;
    background-color: #08C991;
    width: 90%;
    margin-top: 20px;
}



/*subAddress CSS*/
.subAddress{
    width: 50%;
    text-align: center;
}